### Speed Dating Experiment

##### By Grace Cho
###### 09.27.17

### Project Design Write-Up

##### Background + Dataset Introduction

What influences love at first sight? (Or, at least, love in the first four minutes?) This dataset was compiled by Columbia Business School professors Ray Fisman and Sheena Iyengar for their paper [Gender Differences in Mate Selection: Evidence From a Speed Dating Experiment](http://faculty.chicagobooth.edu/emir.kamenica/documents/genderDifferences.pdf) and details are as follows:

* Data was gathered from participants in experimental speed dating events from 2002-2004. During the events, the attendees would have a four minute "first date" with every other participant of the opposite sex. At the end of their four minutes, participants were asked if they would like to see their date again. They were also asked to rate their date on six attributes: Attractiveness, Sincerity, Intelligence, Fun, Ambition, and Shared Interests. 

* The dataset also includes questionnaire data gathered from participants at different points in the process. These fields include: demographics, dating habits, self-perception across key attributes, beliefs on what others find valuable in a mate, and lifestyle information.

##### Project Problem + Hypothesis

In this project, I will aim to explore which of the six attributes (Attractiveness, Sincerity, Intelligence, Fun, Ambition, and Shared Interests) are most important to getting a positive response from their speed dating partners. 

* A hypothesis is that those who score high on the 'Attractiveness' attribute would be more likely to be chosen for future dates.

Some of the other data exploration ideas are as follows:

* What are the least desirable attributes in a male partner? Does this differ for female partners?
* Are shared interests more important than a shared racial background?

##### Project Concerns

Following are some questions I have about the project / dataset:

* How can I choose from the variables available?
* How do each of the variables relate to one another?
* How can I better understand the data dictionary available / what type of data is each variable (categorical v. numerical)?
* Which model is most applicable to this question?

Some of the risks to the project are as follows:

* If the model is wrong, those who read the findings may have inaccurate knowledge of attributes that influence getting a positive response from dates.
* Data is gathered from sample of population and is not representative of general population.

#####  Outcomes

The output would be a combination of exploratory data analysis followed by building of model to explain which of the 6 attributes is most important to getting a positive rate from the speed dating partners. There would be easy - to - follow visuals as well as descriptions of each step of analysis for the audience.

The model does not have to be complicated, if the goal remains that I want to simply identify which of the 6 attributes are important for success in speed dating. The project will be considered a success if I can achive this aim, and if it fails I would continue the analysis from a different angle or apply a different model for analysis.

# Quick EDA of Dataset

In [4]:
# imports


import pandas as pd

In [7]:
# Read in Data
df = pd.read_csv('Speed Dating Data.csv')

df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN